:root {
    --gallery-height: 300px;
}

.img-gallery {
    display: flex;
    height: fit-content;
    flex-flow: row wrap;
}

.img-gallery-item {
    height: calc(0.85 * var(--gallery-height));
    margin: calc(0.05 * var(--gallery-height));
    box-shadow: 0 0 7px 3px #868686;

    display: inline-block;
}

.img-gallery-img {
    height: calc(0.85 * var(--gallery-height));
    position: relative;
}

.img-gallery-item:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 3px #545454;
}
