@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/*region general */

body {
    background-image: url("/header-pic/view3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #454545;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Roboto Slab', serif;
}

#content {
    margin: 300px 400px 100px 200px;
}

body.home-page #content {
    margin-top: 600px;
}

h1#header {
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    font-weight: lighter;
    color: white;

    /*text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-width: 2px;
    text-underline-offset: 3px;*/

    position: relative;
    bottom: -33px;
    left: 230px;
    /*z-index: -1;
    text-shadow: black 10px 10px;*/

    display: inline-block;
}

h1#header::after {
    content: '';
    position: absolute;
    box-shadow: 0 0 20px 30px black;
    z-index: -10;
    //background-color: rebeccapurple;
    width: calc(100% - 30px);
    height: 100%;
    left: 18px;
    top: 80%;
    opacity: 20%;
}

#content-inner {
    background-color: white;
    /*box-shadow: 0 0 10px black;*/
    /*box-shadow: #303030 0 7px 29px 0;*/
    //box-shadow: black 0 7px 29px 0;
    box-shadow: 0 7px 29px black;
    padding: 30px 20px 10px 20px;

    /*width: min-content;
    min-height: 500px;
    display: revert;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    min-width: 1000px;
    min-height: 500px;
}

div.img {
    max-height: 500px;
    height: 500px;
    max-width: calc(100vw - 2*400px - 2*20px - 35px);
    width: 1000px;
    background-color: red;
    background-image: url("/pic/muellerische-karte-1700.png");
    background-size: cover;
}

img {

}

/*endregion*/

/*region links */

a:link, a:hover, a:active, a:visited {
    color: black;
    text-decoration: underline #0366d6 solid;
    text-decoration-thickness: 2px;
    transition: text-decoration 1s ease;
}

a:hover {
    text-decoration: none;
}

/*endregion*/

/*region page */

#pages-div {
    width: 200px;
    vertical-align: top;
    padding: 3px 10px;
}

/*#pages::after {
    content: '';
    position: absolute;
    box-shadow: 0 0 20px 30px black;
    z-index: -10;
    width: 100%;
    height: 100%;
    opacity: 10%;
    top: 0;
    left: 0;
}*/

#pages {
    text-align: right;
    color: black;
    cursor: pointer;
    position: sticky;
    top: 0;
    padding-top: 10px;
    //background-color: rebeccapurple;
    display: inline-block;
}

.page-item {
    //font-family: "Playfair Display";
    font-weight: lighter;
    //font-size: 80%;
    margin-top: 10px;
}

body.lighter .page-item {
    color: black;
    text-shadow: 0 0 20px white;
}

body.darker .page-item {
    color: white;
    text-shadow: 0 0 20px black;
}

body.lighter .page-item.spacing {
    margin-top: 10px;
    border-top: 1px solid black;
    height: 2px;
    //padding-bottom: 6px;
}

body.darker .page-item.spacing {
    padding-top: 6px;
    border-top: 1px solid white;
    height: 0;
    padding-bottom: 6px;
}

/*endregion*/

/*region cookie consent */

#cookieConsentDialog {
    position: fixed;
    right: 50px;
    bottom: 50px;

    background-color: white;
    border-radius: 10px 10px 0 10px;

    box-shadow: 0 0 5px 2px #000000;

    padding: 20px 30px;
}

#cookieConsentDialog.remove {
    animation-name: removing;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes removing {
    0% {
        bottom: 50px;
    }
    20% {
        bottom: 60px;
    }
    50% {
        bottom: -200px;
    }
    100% {
        bottom: -200px;
        display: none;
    }
}

button#cookieConsentSubmit {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

    position: relative;
    animation-name: hovering;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

button#cookieConsentSubmit.remove {
    right: -100px;
    transition: ease right;
}

@keyframes hovering {
    0% {
        box-shadow: 0 0 3px 2px #007e00;
    }
    30% {
        box-shadow: 0 0 5px 4px #009900;
    }
    60% {
        box-shadow: 0 0 3px 2px #007e00;
    }
    100% {
        box-shadow: 0 0 3px 2px #007e00;
    }
}

/*endregion*/

button.button {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

    box-shadow: 0 0 3px 2px #007e00;
}