@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0px;
}

/*
overview:
- frame
- content
- hyperlinks
 */

/* ----- frame ----- */

:root {
    --frame-top: 250px;
    --frame-left: 250px;
    --frame-header-font-size: 0.2;
}

#frame {
    border-collapse: collapse;
    width: 100vw;
    height: 100vh;
}

tr, td, #icon {
    margin: 0px;
    padding: 0px;
}

.fe:not(#header):not(#content) {
    text-align: center;
    margin: 10px;
}

#icon {
    max-width: 10vw;
    padding: 25px;
}

#header {
    width: available;
    height: var(--frame-top);
    font-size: calc(var(--frame-header-font-size) * var(--frame-top));
    background-size: cover;
    vertical-align: bottom;
}

#header-text {
    margin-left: 50px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 80%;
}

#pages {
    width: var(--frame-left);
    height: available;
    vertical-align: top;
}

.page-item {
    margin: auto 10px;
    padding: 5px;
    /*
    font-size: 115%;
    background-color: #c9c9c9;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
     */
    text-align: right;
    font-family: 'Roboto Slab', serif;
    color: grey;
    cursor: pointer;
}
.page-item.active, .page-item:hover {
    color: black;
}
.page-item.spacing {
    padding-top: 10px;
    cursor: default;
}

#content {
    vertical-align: top;
    horiz-align: left;
    padding: 30px 20px;
}

/* ----- content ----- */

#content {
    font-family: 'Roboto Slab', serif;
}

h1.headline {
    font-family: 'Playfair Display', serif;
    font-size: 200%;
}

td:not(.fe) {
    min-width: 100px;
}

.pic-row img {
    max-width: 20vw;
    max-height: 30vh;
}

.pic-row {
    width: calc(90vw - var(--frame-left));
    height: 30vh
}

.quote {
    border-style: none;
    border-left-style: solid;
    border-width: 1.7px;
    border-color: #616161;
    margin: 50px 5vw;
    padding: 10px 20px;
}

textarea {
    font-family: 'Roboto Slab', serif;
}

/* ----- hyperlinks ----- */

a:link, a:hover, a:active, a:visited {
    color: black;
    text-decoration: underline #0366d6 solid;
    text-decoration-thickness: 2px;
    transition: text-decoration 1s ease;
}

a:hover {
    text-decoration: none;
}