:root {
    --gallery-height: 300px;
}

.img-gallery {
    display: flex;
    height: fit-content;
    flex-flow: row wrap;
}

.img-gallery-item {
    height: calc(0.85 * var(--gallery-height));
    margin: calc(0.05 * var(--gallery-height));
    //border: 2px solid grey;
    box-shadow: 0 0 7px 3px #868686;

    display: inline-block;
}

.img-gallery-img {
    height: calc(0.85 * var(--gallery-height));
    position: relative;
}

.img-gallery-item:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 3px #545454;
}

/*
!*.img-gallery-caption {
    display: none;
}*!

!*.img-gallery-item:hover*!
.img-gallery-caption {
    position: relative;
    width: 60%;
    left: 20%;
    !*height: max-content;*!
    text-wrap: normal;
    !*height: calc(var(--standard-font-size) + 5px);*!
    background-color: white;
    top: -95%;
    !*top: calc(-22px - 20px - 10px);*!
    font-size: var(--standard-font-size);
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 7px 3px #545454;
    opacity: 0;
    transition: opacity ease 600ms;

    display: none;
}

!*.img-gallery-item:hover*! .img-gallery-caption {
    opacity: 70%;
    transition: opacity ease 300ms;
    display: block;
}*/
